TELOXIDE_TOKEN=99999999999:ergergerggergerergerg1geregrrgeeg2regregrergergegregregrregegregregregr_ergergerggergerergerggeregrrgeegregregrergergegregregrregegregregregr
OPENAI_API_KEY=sk-proj-ergergerggergerergerggeregrrgeegregregrergergegregregrregegregregregrergergerggergerergerggeregrrgeegregregrergergegregregrregegregregregr
ELEVENLABS_API_KEY=sk_ergergerggergerergerggeregrrgeegregregrergergegregregrregegregregregr
ELEVEN_VOICE_ID=XB0fDUnXU5powFXDhCwa # Swedish accent
